#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.subtitle {
  color: #888;
}

video {
	width: 48%;
	border: 1px solid #ccc;
	border-radius: 6px;
}

.row {
	display: flex;
	gap: 12px;
	padding-top: 10px;
}

#controls-container {
	display: flex;
	gap: 12px;
}
